<mat-nav-list>
    <div class="log py-4">
        <img src="" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">MedWik</h2>
    <a mat-list-item class="link" routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/registerUser" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Register
    </a>
    
</mat-nav-list>
