<mat-nav-list>
    <div class="log py-4">
        <img src="" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">MedWik</h2>
    <a mat-list-item class="link" routerLink="/deposit" routerLinkActive="list-item-active">
        <mat-icon>wallet</mat-icon> Deposit
    </a>
    <a mat-list-item routerLink="/reciept" routerLinkActive="list-item-active">
        <mat-icon>receipt</mat-icon> Reciept
    </a>
    <a mat-list-item routerLink="/registerUser" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Register
    </a>
    <a mat-list-item routerLink="/prescription" routerLinkActive="list-item-active">
        <mat-icon>medication</mat-icon> Prescription
    </a>
    <a mat-list-item routerLink="/delivery" routerLinkActive="list-item-active">
        <mat-icon>local_shipping</mat-icon> Delivery
    </a>
    <a mat-list-item routerLink="/registerUser" routerLinkActive="list-item-active">
        <mat-icon>article</mat-icon> Summary
    </a>
    
</mat-nav-list>
